body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e0e0e0;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2c3e50;
    overflow-x: hidden;
    padding-top: 60px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.2);
    transition: 0.5s;
}

.sidebar .header {
    padding: 15px;
    text-align: center;
    color: #fff;
    font-size: 24px;
}

.sidebar a {
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #44526c;
}

.sidebar .logout-btn {
    margin: 20px;
    padding: 10px 20px;
    background-color: #e74c3c;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    width: calc(100% - 40px);
    text-align: center;
    border-radius: 25px;
    outline: none;
}

.sidebar .logout-btn:hover {
    background-color: #c0392b;
}

.container {
    margin-left: 250px;
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;
}

h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

th, td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #2c3e50;
    color: #fff;
}

tr:hover {
    background-color: #f1f1f1;
}

.create-btn, .update-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.create-btn:hover, .update-btn:hover {
    background-color: #0056b3;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}
